﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;   
    var root = Model.Content.Site();
    var GlobalSettings = root.GetPropertyValue<IPublishedContent>("globalSettings");
    var TypedGlobalSettings = new Setings(GlobalSettings);
    var BaseUrl = Model.Content.Site().UrlAbsolute().TrimEnd('/');

}

@Html.Raw(TypedGlobalSettings.RenderInHead)

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/mvc/5.1/jquery.validate.unobtrusive.min.js"></script>

<!-- Global Metas -->
<meta charset="utf-8">
<meta name="description" content="@TypedGlobalSettings.Description">
<meta name="author" content="@TypedGlobalSettings.Author">
<meta name="keywords" content="@TypedGlobalSettings.Keywords">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>@Model.Content.Name</title>


<!--Open Graph Metas-->
<meta property="og:url" content="@Model.Content.Url"/>
<meta property="og:type" content="@TypedGlobalSettings.OGtype"/>
<meta property="og:title" content="@TypedGlobalSettings.OGtitle"/>
<meta property="og:description" content="@TypedGlobalSettings.OGdescription"/>
@* //test this when using Open Graph Image *@
<meta property="og:image" content="@(TypedGlobalSettings.OGimage != null ? BaseUrl + TypedGlobalSettings.OGimage.Url : " ")" />


@RenderBody()


@Html.Raw(TypedGlobalSettings.RenderInFooter)

<script src="~/assets/js/app.js"></script>

