﻿@using Umbraco.Core.Models
@using Umbraco.Web
@using ContentModels = Umbraco.Web.PublishedContentModels;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.SiteMap>
@{
    Layout = "Master.cshtml";

    var root = Model.Content.Site();

}

<div class="sitemap">
    <ul>
        <li class="level-0">
            <a href="@root.Url">@root.Name</a>
        </li>
    </ul>
    @Traverse(root)
</div>
@helper Traverse(IPublishedContent node)
{
    int maxLevelForSitemap = Model.Content.SearchLevel;

    @* Select visible children yo hide navihide nodes*@
    var selection = node.Children.Where(x => x.IsVisible() && x.Level <= maxLevelForSitemap).ToArray();

    if (selection.Length > 0)
    {
        <ul>

            

            @foreach (var item in selection)
            {

                <li class="level-@item.Level">
                    @* Control which nodes you can navigate to from the sitemap*@
                    @if (item.DocumentTypeAlias == "website")
                    {
                        <a href="@item.Url">@item.Name</a>
                    }
                    else
                    {
                        @item.Name
                    }
                    @Traverse(item)
                </li>
            }
        </ul>
    }
}